body {
  background-color: #000;
}

#camera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }

  #mask {
    z-index: 1;
    pointer-events: none;
  }

  body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

