<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Device Calibration</title>

    <!-- Include HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <!-- Global styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- Add any other head content -->
  </head>
  <body>
    <!-- Main content of the page, injected by child templates -->
    <div id="content">{% block content %}{% endblock %}</div>

    <div
      id="recalibrate-indicator"
    >
      Hold ESC to Recalibrate...
    </div>

<script>
  function playMusic() {
    fetch('/play_music')
      .then((response) => response.json())
      .then((data) => {
        if (data.status === 'success' && data.music_files.length > 0) {
          console.log('Music files:', data.music_files);

          const audio = document.getElementById('music-player');
          audio.src = `/play/${data.music_files[0]}`;
          audio.style.display = 'block';
          audio.play();
          audio.onended = () => {
            playMusic(); // Fetch and play the next song when current one ends
          };

          const metadata = document.getElementById('metadata-content');
          metadata.innerHTML = `
            <div><strong>${data.song_info.artist}</strong></div>
            <div>${data.song_info.title}</div>
            <div>${data.song_info.year}</div>
            <div>${data.country}</div>
          `;
        } else {
          console.error(data.message || 'No music files found');
        }
      })
      .catch((error) => {
        console.error('Error playing music:', error);
      });
  }

  document.addEventListener('keydown', function (e) {
    if (e.key === '[') {
      window.location.href = "{{ url_for('navigate_decades', direction='prev') }}";
    } else if (e.key === ']') {
      window.location.href = "{{ url_for('navigate_decades', direction='next') }}";
    } else if (e.code === 'Space') {
      e.preventDefault(); // prevent page scroll
      console.log('Spacebar pressed - playing music for selected decade');
      playMusic();
    }
  });
</script>


  </body>
</html>
